<div class="row">
 <div class="col-md-8">
   <a href="#M">Monday</a> | <a href="#T">Tuesday</a> | <a href="#W">Wednesday</a> | <a href="#Th">Thursday</a> | <a href="#F">Friday</a> | <a href="#S">Saturday</a> | <a href="#Su">Sunday</a>
 </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-8">
    <%= link_to "Add a New Event", "/events/new", "class" => 'btn btn-lg btn-primary' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4"> 
    <h1><a id="M">Monday</a></h1>
  </div>
</div>

<div class="row event">

    <div class="col-md-8">

      <% Event.read("date" => "Monday").order("place_id desc").each do |event| %>
        <% place = Place.read("id" => event.place_id) %>
          <h2><%= link_to place.name, "/places/#{place.id}" %></h2>
          <h3><%= link_to event.title, "/events/#{event.id}" %>, <%= event.time %></h3>
          <p><%= event.details %></p>
      <% end %>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
      <h1><a id="T">Tuesday</a></h1>
    </div>
</div>

<div class="row event">

    <div class="col-md-8">
        <% Event.read("date" => "Tuesday").order("place_id desc").each do |event| %>
        <% place = Place.read("id" => event.place_id) %>
          <h2><%= link_to place.name, "/places/#{place.id}" %></h2>
          <h3><%= link_to event.title, "/events/#{event.id}" %>, <%= event.time %></h3>
          <p><%= event.details %></p>
        <% end %>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
      <h1><a id="W">Wednesday</a></h1>
    </div>
</div>

<div class="row event">

    <div class="col-md-8">

        <% Event.read("date" => "Wednesday").order("place_id desc").each do |event| %>
        <% place = Place.read("id" => event.place_id) %>
          <h2><%= link_to place.name, "/places/#{place.id}" %></h2>
          <h3><%= link_to event.title, "/events/#{event.id}" %>, <%= event.time %></h3>
          <p><%= event.details %></p>
        <% end %>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
      <h1><a id="Th">Thursday</a></h1>
    </div>
</div>

<div class="row event">

    <div class="col-md-8">

        <% Event.read("date" => "Thursday").order("place_id desc").each do |event| %>
        <% place = Place.read("id" => event.place_id) %>
          <h2><%= link_to place.name, "/places/#{place.id}" %></h2>
           <h3><%= link_to event.title, "/events/#{event.id}" %>, <%= event.time %></h3>
           <p><%= event.details %></p>
        <% end %>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
      <h1><a id="F">Friday</a></h1>
    </div>
</div>

<div class="row event">

    <div class="col-md-8">

        <% Event.read("date" => "Friday").order("place_id desc").each do |event| %>
        <% place = Place.read("id" => event.place_id) %>
          <h2><%= link_to place.name, "/places/#{place.id}" %></h2>
           <h3><%= link_to event.title, "/events/#{event.id}" %>, <%= event.time %></h3>
           <p><%= event.details %></p>
        <% end %>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
      <h1><a id="S">Saturday</a></h1>
    </div>
</div>

<div class="row event">

    <div class="col-md-8">

        <% Event.read("date" => "Saturday").order("place_id desc").each do |event| %>
        <% place = Place.read("id" => event.place_id) %>
          <h2><%= link_to place.name, "/places/#{place.id}" %></h2>
           <h3><%= link_to event.title, "/events/#{event.id}" %>, <%= event.time %></h3>
           <p><%= event.details %></p>
        <% end %>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
      <h1><a id="Su">Sunday</a></h1>
    </div>
</div>

<div class="row event">

    <div class="col-md-8">

        <% Event.read("date" => "Sunday").order("place_id desc").each do |event| %>
        <% place = Place.read("id" => event.place_id) %>
          <h2><%= link_to place.name, "/places/#{place.id}" %></h2>
           <h3><%= link_to event.title, "/events/#{event.id}" %>, <%= event.time %></h3>
           <p><%= event.details %></p>
        <% end %>
    </div>
</div>
    

